.qcjys { 
  border-right-width: 63px;
  padding-top: 46px;
  padding-left: 61px;
  border-left-width: 59px;
  border-bottom-width: 19px;
  border-top-width: 52px;
  padding-bottom: 74px;
  padding-right: 55px;
  padding-bottom: 32px;
  padding-bottom: 63px;
  margin-bottom: 59px;
  padding-right: 26px;
  margin-bottom: 29px;
  font-size: 37px;
  border-left-width: 33px;
  margin-left: 52px;
  line-height: 82px;
  border-right-width: 86px;
  font-size: 22px;
  padding-left: 30px;
  font-size: 99px;
  padding-right: 91px;
  padding-top: 34px;
  padding-bottom: 32px;
  line-height: 60px;
  margin-bottom: 60px;
  padding-right: 58px;
  padding-left: 30px;
  padding-bottom: 70px;
  border-left-width: 71px;
  margin-left: 10px;
  margin-left: 11px;
  margin-top: 6px;
  line-height: 39px;
  padding-top: 41px;
  padding-bottom: 83px;
  padding-left: 10px;
  border-bottom-width: 74px;
  margin-top: 76px;
  margin-top: 54px;
  padding-top: 80px;
  padding-bottom: 56px;
  border-left-width: 79px;
  border-bottom-width: 57px;
  margin-right: 37px;
  padding-right: 97px;
  border-top-width: 25px;
  border-top-width: 17px;
  line-height: 2px;
  border-top-width: 83px;
  line-height: 14px;
  padding-bottom: 26px;
  border-top-width: 35px;
  margin-right: 0px;
  border-left-width: 30px;
  border-left-width: 14px;
  margin-right: 63px;
  margin-left: 73px;
  font-size: 43px;
  margin-right: 47px;
  margin-top: 29px;
  border-top-width: 56px;
  border-bottom-width: 7px;
  border-top-width: 76px;
  margin-top: 34px;
  font-size: 59px;
  padding-right: 88px;
  margin-bottom: 51px;
  border-top-width: 68px;
  padding-right: 24px;
  padding-bottom: 45px;
  border-right-width: 44px;
  padding-top: 57px;
  border-top-width: 63px;
  margin-bottom: 14px;
  border-bottom-width: 93px;
  border-top-width: 17px;
  padding-top: 59px;
  margin-bottom: 28px;
  border-right-width: 79px;
  margin-bottom: 62px;
  border-right-width: 54px;
  border-left-width: 76px;
  margin-right: 56px;
  padding-bottom: 46px;
  font-size: 10px;
  border-right-width: 58px;
  border-top-width: 13px;
  margin-left: 88px;
  border-left-width: 52px;
  border-right-width: 0px;
  padding-right: 30px;
  border-top-width: 58px;
  padding-top: 67px;
  margin-top: 94px;
  border-bottom-width: 73px;
  padding-left: 54px;
  margin-right: 84px;
  margin-left: 16px;
  border-bottom-width: 58px;
  padding-top: 30px;
  border-right-width: 98px;
  padding-right: 99px;
  border-bottom-width: 66px;
  padding-left: 36px;
  padding-right: 70px;
  padding-right: 89px;
  border-left-width: 95px;
  border-bottom-width: 11px;
  margin-top: 85px;
  border-right-width: 55px;
  line-height: 46px;
  border-left-width: 35px;
  border-top-width: 7px;
  border-left-width: 36px;
  font-size: 89px;
  padding-bottom: 28px;
  border-bottom-width: 39px;
  padding-bottom: 8px;
  margin-left: 50px;
  line-height: 65px;
  margin-top: 49px;
  border-left-width: 17px;
  font-size: 56px;
  padding-top: 44px;
  padding-top: 34px;
  margin-right: 58px;
  border-right-width: 30px;
  padding-left: 72px;
  border-top-width: 17px;
  margin-bottom: 55px;
  padding-right: 23px;
  margin-top: 2px;
  padding-left: 76px;
  font-size: 69px;
  padding-bottom: 34px;
  padding-top: 4px;
  padding-top: 94px;
  border-bottom-width: 87px;
  border-right-width: 94px;
  margin-top: 5px;
  border-top-width: 71px;
  border-right-width: 65px;
  margin-bottom: 52px;
  padding-top: 31px;
  margin-left: 88px;
  border-top-width: 6px;
  margin-left: 75px;
  line-height: 46px;
  border-bottom-width: 30px;
  border-bottom-width: 89px;
  padding-left: 13px;
  font-size: 8px;
  font-size: 44px;
  line-height: 25px;
  margin-right: 30px;
  margin-right: 7px;
  border-right-width: 55px;
  margin-top: 9px;
  padding-top: 51px;
  border-right-width: 63px;
  border-right-width: 52px;
  border-bottom-width: 6px;
  border-left-width: 16px;
  border-left-width: 18px;
  padding-top: 43px;
  border-left-width: 66px;
  margin-left: 32px;
  border-bottom-width: 82px;
  border-bottom-width: 91px;
  line-height: 20px;
  padding-top: 6px;
  border-left-width: 86px;
  border-right-width: 53px;
  padding-right: 59px;
  margin-bottom: 13px;
  padding-top: 52px;
  border-top-width: 80px;
  margin-right: 75px;
  margin-top: 96px;
  margin-bottom: 55px;
  padding-left: 85px;
  border-bottom-width: 48px;
  margin-right: 19px;
  padding-top: 29px;
  margin-left: 70px;
  padding-left: 79px;
  padding-bottom: 9px;
  border-top-width: 92px;
  line-height: 36px;
  border-right-width: 86px;
  border-bottom-width: 48px;
  padding-left: 28px;
  border-bottom-width: 98px;
  border-top-width: 20px;
  font-size: 3px;
  margin-top: 31px;
  padding-left: 54px;
  border-top-width: 32px;
  margin-bottom: 89px;
  line-height: 5px;
  margin-left: 46px;
  padding-top: 57px;
  margin-top: 19px;
  margin-right: 2px;
  border-bottom-width: 63px;
  border-right-width: 94px;
  padding-left: 7px;
  padding-right: 25px;
  margin-left: 59px;
  padding-bottom: 93px;
  padding-right: 53px;
  padding-top: 40px;
  padding-left: 87px;
  padding-left: 60px;
  margin-left: 13px;
  border-bottom-width: 67px;
  margin-top: 89px;
  margin-left: 25px;
  margin-bottom: 12px;
  border-top-width: 15px;
  margin-bottom: 29px;
  padding-bottom: 20px;
  border-right-width: 15px;
  line-height: 54px;
  margin-left: 32px;
  margin-bottom: 87px;
  margin-bottom: 38px;
  font-size: 41px;
  padding-right: 72px;
  padding-top: 37px;
  margin-left: 66px;
  margin-top: 98px;
  padding-top: 76px;
  padding-left: 81px;
  padding-left: 68px;
  font-size: 75px;
  padding-right: 73px;
  margin-top: 44px;
  margin-bottom: 46px;
  border-right-width: 87px;
  padding-right: 39px;
  border-left-width: 33px;
  border-left-width: 34px;
  line-height: 50px;
  line-height: 29px;
  border-bottom-width: 21px;
  padding-right: 43px;
  border-left-width: 24px;
  margin-right: 99px;
  border-left-width: 84px;
  padding-top: 42px;
  padding-bottom: 35px;
  margin-left: 37px;
  margin-bottom: 74px;
  margin-right: 91px;
  padding-right: 20px;
  border-right-width: 89px;
  padding-left: 62px;
  padding-bottom: 83px;
  border-bottom-width: 70px;
  padding-top: 52px;
  padding-bottom: 74px;
  line-height: 90px;
  margin-top: 87px;
  font-size: 15px;
  font-size: 58px;
  margin-bottom: 69px;
  margin-right: 95px;
  margin-right: 62px;
  border-right-width: 51px;
  padding-left: 29px;
  padding-left: 38px;
  margin-right: 90px;
  margin-right: 60px;
  margin-bottom: 70px;
  line-height: 11px;
  margin-right: 78px;
  border-top-width: 47px;
  line-height: 14px;
  margin-right: 9px;
  margin-bottom: 59px;
  padding-right: 17px;
  border-left-width: 64px;
  font-size: 57px;
  padding-left: 6px;
  margin-bottom: 51px;
  border-left-width: 31px;
  border-top-width: 27px;
  margin-left: 13px;
  margin-top: 43px;
  border-top-width: 90px;
  border-left-width: 87px;
  padding-right: 30px;
  margin-bottom: 42px;
  line-height: 6px;
  padding-bottom: 12px;
  margin-bottom: 93px;
  line-height: 83px;
  margin-top: 2px;
  padding-left: 32px;
  margin-top: 83px;
  margin-top: 65px;
  padding-bottom: 17px;
  border-bottom-width: 59px;
  margin-right: 56px;
  font-size: 67px;
  line-height: 94px;
  padding-left: 11px;
  padding-left: 73px;
  margin-bottom: 92px;
  border-right-width: 6px;
  border-right-width: 96px;
  padding-top: 50px;
  margin-right: 68px;
  padding-bottom: 18px;
  font-size: 47px;
  margin-bottom: 79px;
  padding-right: 30px;
  padding-bottom: 2px;
  font-size: 98px;
  margin-left: 37px;
  font-size: 74px;
  border-left-width: 66px;
  border-top-width: 10px;
  font-size: 30px;
  border-bottom-width: 72px;
  border-top-width: 13px;
  border-bottom-width: 17px;
  line-height: 68px;
  font-size: 76px;
  margin-right: 12px;
  padding-left: 20px;
  padding-right: 24px;
  padding-bottom: 41px;
  border-left-width: 10px;
  border-bottom-width: 74px;
  padding-top: 83px;
  border-left-width: 61px;
  margin-left: 72px;
  font-size: 41px;
  border-bottom-width: 60px;
  padding-right: 35px;
  border-top-width: 40px;
  margin-left: 79px;
  border-bottom-width: 42px;
  margin-bottom: 56px;
  margin-top: 47px;
  font-size: 95px;
  border-top-width: 92px;
  line-height: 61px;
  margin-right: 33px;
  border-left-width: 4px;
  padding-right: 48px;
  font-size: 17px;
  margin-bottom: 46px;
  padding-top: 72px;
  margin-top: 6px;
  margin-bottom: 11px;
  margin-left: 20px;
  margin-right: 44px;
  font-size: 88px;
  padding-right: 18px;
  padding-left: 78px;
  line-height: 2px;
  margin-left: 31px;
  margin-top: 61px;
  border-bottom-width: 62px;
  border-left-width: 80px;
  padding-left: 95px;
  padding-top: 66px;
  border-bottom-width: 99px;
  border-right-width: 68px;
  padding-bottom: 37px;
  border-left-width: 22px;
  padding-right: 25px;
  margin-top: 70px;
  margin-left: 35px;
  padding-bottom: 3px;
  border-right-width: 20px;
  border-bottom-width: 46px;
  line-height: 99px;
  border-right-width: 84px;
  margin-left: 8px;
  font-size: 18px;
  margin-left: 8px;
  font-size: 18px;
  padding-left: 76px;
  padding-right: 64px;
  padding-bottom: 39px;
  border-bottom-width: 30px;
  padding-top: 91px;
  border-bottom-width: 32px;
  border-left-width: 69px;
  line-height: 18px;
  margin-left: 36px;
  line-height: 24px;
  padding-right: 80px;
  margin-bottom: 87px;
  margin-right: 90px;
  padding-left: 21px;
  font-size: 47px;
  font-size: 63px;
  border-right-width: 92px;
  border-top-width: 77px;
  font-size: 7px;
  line-height: 52px;
  line-height: 3px;
  padding-bottom: 32px;
  margin-top: 34px;
  padding-bottom: 15px;
  margin-top: 38px;
  padding-right: 69px;
  border-left-width: 9px;
  padding-left: 88px;
  padding-left: 56px;
  padding-right: 24px;
  padding-left: 21px;
  border-left-width: 89px;
  font-size: 93px;
  border-left-width: 83px;
  border-bottom-width: 69px;
  font-size: 73px;
  padding-right: 72px;
  font-size: 79px;
  border-left-width: 16px;
  margin-left: 32px;
  padding-left: 76px;
  padding-right: 74px;
  padding-right: 40px;
  margin-right: 69px;
  padding-top: 49px;
  border-right-width: 97px;
  margin-left: 46px;
  border-right-width: 37px;
  margin-right: 64px;
  margin-right: 41px;
  border-bottom-width: 42px;
  border-bottom-width: 93px;
  margin-left: 29px;
  padding-right: 21px;
  font-size: 51px;
  border-left-width: 87px;
  border-bottom-width: 70px;
  margin-right: 68px;
  padding-left: 72px;
  padding-bottom: 37px;
  border-top-width: 10px;
  padding-right: 38px;
  border-top-width: 43px;
  border-top-width: 32px;
  border-right-width: 79px;
  padding-left: 91px;
  margin-right: 30px;
  padding-top: 51px;
  margin-top: 47px;
  padding-left: 34px;
  margin-top: 42px;
  padding-top: 72px;
  padding-left: 34px;
  margin-right: 9px;
  border-top-width: 34px;
  line-height: 70px;
  font-size: 7px;
  border-bottom-width: 80px;
  border-left-width: 90px;
  font-size: 17px;
  padding-top: 78px;
  border-right-width: 23px;
  border-bottom-width: 79px;
}
