.fyorf { 
  margin-left: 15px;
  font-size: 8px;
  margin-right: 92px;
  border-bottom-width: 69px;
  margin-bottom: 84px;
  border-top-width: 47px;
  padding-right: 28px;
  padding-right: 80px;
  font-size: 73px;
  line-height: 18px;
  padding-left: 30px;
  padding-top: 45px;
  padding-right: 51px;
  border-left-width: 21px;
  border-top-width: 15px;
  padding-right: 71px;
  border-right-width: 38px;
  padding-left: 50px;
  border-bottom-width: 19px;
  margin-bottom: 37px;
  margin-right: 6px;
  margin-top: 84px;
  margin-top: 50px;
  margin-bottom: 94px;
  padding-bottom: 93px;
  padding-left: 35px;
  margin-bottom: 62px;
  padding-bottom: 32px;
  line-height: 4px;
  border-bottom-width: 74px;
  margin-left: 50px;
  padding-left: 66px;
  padding-bottom: 36px;
  padding-bottom: 23px;
  padding-left: 12px;
  border-bottom-width: 99px;
  padding-top: 34px;
  margin-top: 18px;
  line-height: 8px;
  border-left-width: 80px;
  border-left-width: 80px;
  margin-right: 90px;
  padding-bottom: 51px;
  border-bottom-width: 51px;
  padding-left: 32px;
  padding-right: 32px;
  padding-right: 23px;
  border-right-width: 58px;
  font-size: 97px;
  margin-left: 86px;
  line-height: 93px;
  padding-bottom: 79px;
  border-right-width: 87px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-right: 35px;
  border-bottom-width: 75px;
  margin-bottom: 2px;
  padding-top: 17px;
  border-left-width: 13px;
  margin-top: 84px;
  border-bottom-width: 22px;
  margin-left: 12px;
  padding-right: 5px;
  font-size: 80px;
  font-size: 20px;
  padding-bottom: 43px;
  border-right-width: 18px;
  padding-right: 6px;
  border-left-width: 85px;
  padding-top: 96px;
  border-left-width: 89px;
  line-height: 74px;
  border-left-width: 75px;
  margin-left: 1px;
  padding-right: 54px;
  padding-top: 47px;
  border-bottom-width: 24px;
  padding-top: 10px;
  padding-right: 80px;
  padding-right: 35px;
  padding-right: 73px;
  line-height: 92px;
  margin-bottom: 30px;
  margin-left: 3px;
  border-right-width: 94px;
  margin-top: 78px;
  padding-left: 96px;
  margin-top: 48px;
  padding-bottom: 2px;
  margin-right: 50px;
  font-size: 82px;
  margin-left: 16px;
  margin-left: 75px;
  border-left-width: 62px;
  padding-left: 67px;
  padding-left: 9px;
  padding-left: 96px;
  border-top-width: 97px;
  padding-right: 91px;
  margin-left: 51px;
  padding-right: 4px;
  margin-bottom: 88px;
  border-left-width: 64px;
  border-right-width: 32px;
  border-right-width: 91px;
  margin-left: 24px;
  border-top-width: 29px;
  padding-bottom: 99px;
  margin-top: 58px;
  margin-left: 52px;
  padding-bottom: 46px;
  border-bottom-width: 30px;
  font-size: 65px;
  padding-bottom: 88px;
  padding-top: 65px;
  padding-top: 88px;
  padding-left: 33px;
  border-top-width: 47px;
  border-left-width: 53px;
  border-bottom-width: 16px;
  border-right-width: 92px;
  border-top-width: 43px;
  padding-bottom: 91px;
  border-right-width: 2px;
  margin-bottom: 17px;
  margin-left: 15px;
  border-right-width: 57px;
  padding-left: 92px;
  padding-bottom: 70px;
  border-bottom-width: 66px;
  padding-left: 34px;
  padding-left: 82px;
  margin-bottom: 27px;
  border-left-width: 91px;
  padding-bottom: 28px;
  margin-bottom: 64px;
  font-size: 97px;
  margin-right: 89px;
  padding-right: 19px;
  margin-bottom: 71px;
  padding-bottom: 0px;
  margin-bottom: 33px;
  margin-left: 81px;
  border-bottom-width: 72px;
  margin-right: 19px;
  padding-right: 99px;
  padding-right: 46px;
  padding-right: 70px;
  padding-top: 87px;
  margin-top: 42px;
  padding-right: 24px;
  padding-top: 49px;
  border-right-width: 12px;
  border-top-width: 94px;
  margin-top: 30px;
  padding-bottom: 33px;
  border-bottom-width: 80px;
  border-bottom-width: 72px;
  padding-bottom: 92px;
  font-size: 24px;
  border-right-width: 73px;
  border-left-width: 21px;
  border-left-width: 38px;
  padding-top: 27px;
  margin-right: 36px;
  line-height: 0px;
  border-right-width: 90px;
  margin-left: 34px;
  padding-right: 3px;
  border-top-width: 64px;
  font-size: 6px;
  margin-bottom: 26px;
  border-top-width: 34px;
  padding-left: 68px;
  margin-bottom: 36px;
  font-size: 53px;
  margin-top: 4px;
  border-right-width: 34px;
  line-height: 66px;
  margin-left: 10px;
  margin-top: 27px;
  padding-left: 32px;
  border-right-width: 65px;
  padding-left: 2px;
  padding-left: 60px;
  border-right-width: 49px;
  border-bottom-width: 24px;
  border-right-width: 95px;
  padding-bottom: 25px;
  border-right-width: 19px;
  padding-bottom: 14px;
  margin-left: 88px;
  border-bottom-width: 58px;
  margin-top: 57px;
  margin-right: 1px;
  border-top-width: 28px;
  padding-right: 52px;
  border-top-width: 43px;
  padding-top: 59px;
}
